html{
    margin:0;
    padding:0;
    font-size: 13px
}
body{
    margin: 0;
    width: 100%;
    height: 100%;
}
main, .content{
    margin: 0 auto;
    width: 96%;
    position:relative;
}

.header{
    width: 100%;
    background-color: black;
    height: 60px;
}

.header1{
    padding-left: 5%;
}
.logo a{
    float: left;
    padding: 15px 6px;
    padding: left 13px;
    width: 70%;
}
.quem-somos a{
    width: 18%;
    float: right;
    padding: 15px 6px;
}

.menu-links{
    width: 100%;
    float: left;
    position:relative;
}
.header2{
    background-color: #231f20;
    width: 100%;
    margin: 0 15%;
    margin-top: 15%;
}
.menu-url{
    border-bottom: 1% solid #efefef;
    background-color: #ffffff;
    width: 100%;
}
.menu ul li{
    display: inline-block;
    color: #8b8b8b;
    margin-left: 8%;
    height: 30px;
    margin-top: 1%;
}
.menu ul li:hover{
    height: 20px;
    border-bottom: 2px solid #91cc04;
}
.menu ul li a:hover{
    color:#91cc04;
}
.menu ul li a{
    color: #070707;
    text-decoration: none;
    font-size: 150%;
    text-decoration: uppercase; 
}
.menu{
    width:90%;
    float:left;
    padding-left: 20px;
}
.menu-links2 img{
    clear:both;
    width: 100%;
    position: relative;
}
.texto-destaque{
    text-align:center;
}

.texto-destaque h1{
    color: #818181;
    font-size: 290%;
    text-transform: uppercase;
    clear:both;
}

.texto-destaque p{
    clear: both;
    font-size: 160%;
    text-transform:uppercase;
    margin:0 10%;
}

.bloco-imagens-texto {
    background-color: #eeeeee;
}

.bloco-imagens-texto:after {
    width: 100%;
    display: inline-block;
    content: '';
    height: 5%;
    background: #eeeeee;
}

.bloco-imagens-texto:before {
    width: 100%;
    display: inline-block;
    content: '';
    height: 53px;
    background: #ffffff;
    background-image: url('../img/setinha.png');
    background-repeat: no-repeat;
    background-position: center;
}

.col-100 {
    width: 100%;
    float: left;
    position: relative;
}

.col-1{
    float: left;
    text-align:center;
    margin-top: 5%;
    font-size: 20px;
    border: 1px solid #c5c5c5;
    border-radius: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 2%;
}

.col-2{
    text-align: center;
    float: left;
    margin-top: 5%;
    font-size: 20px;
    border: 1px solid #c5c5c5;
    border-radius: 15px;
    padding-top: 15px;
    padding-bottom: 20px;
    margin-left: 2%;
}

.col-2 img{
    vertical-align: middle;
    cursor: pointer;
    margin: 0 auto;
}

.col-3{
    float:left;
    text-align: center;
    margin-top: 5%;
    font-size: 20px;
    border: 1px solid #c5c5c5;
    border-radius: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 2%;
}

.col-1 a{
    text-decoration: none;
    color: black;
        
}

.col-1 a:hover{
    text-decoration: underline;
    color: #818181;
}

.col-2 a{
    text-decoration: none;
    color: black;
        
}

.col-2 a:hover{
    text-decoration: underline;
    color: #818181;
}

.col-3 a{
    text-decoration:none;
    color: black;
}

.col-3 a:hover{
    text-decoration: underline;
    color: #818181;
}

.footer{
    clear:both;
    background-color: #221d22;
    margin: 0;
    width: 100%;
    height: 100%;
    float: left;
    color: #eeeeee;
}

.logo2 a{
    float: left;
    width:80%;
    padding-left: 3%;
    padding-top: 7px;
}

.textofooter{
    padding-top:5px;
    text-align: center;
    font-size: 130%;
}

#conteudo{
    margin: 0 7%;
    padding: 0 6%;
    background-color: white;
    font-size: 200%;
    margin-bottom: 0%;
    line-height: 135%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-top: 7%;
}

h1{
    padding-top: 18px;
}
